<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hamsh5312.solution.post.dao.PostDAO">
 
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `post`
 		(
 			`userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES(
 		
 		#{userId}
 		, #{userName}
 		, #{subject}
 		, #{content}
 		, #{imagePath}
 		, #{sBox}
 		, now()
 		, now()
 		)
 		
 	</insert>
 	
 	<select id="selectWorryList" resultType="com.hamsh5312.solution.post.model.Post"
 	parameterType="map">
 	
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		<if test='!sBox.equals("all")'>
   			WHERE `sBox` = #{sBox}	
		</if>	
 		ORDER BY `id` DESC	
		LIMIT #{pageStart}, #{perPageNum}
		
 	</select>
 	
 	
 	<select id="selectSearchWorryList" resultType="com.hamsh5312.solution.post.model.Post"
 	parameterType="map">
 	
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE `subject` LIKE CONCAT('%',#{searchInput},'%')	
   			OR `userName` LIKE CONCAT('%',#{searchInput},'%')	
 		ORDER BY `id` DESC	
		LIMIT #{pageStart}, #{perPageNum}
		
 	</select>
 	
 	<select id="selectMyWorryList" resultType="com.hamsh5312.solution.post.model.Post"
 	parameterType="map">
 		
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
   		WHERE `userId` = #{userId}	
 		ORDER BY `id` DESC	
		LIMIT #{pageStart}, #{perPageNum}
		
 	</select>
 	
 	<!-- 찜 관련 -->
	
	<select id="selectLikeWorryList" resultType="com.hamsh5312.solution.post.model.Post"
 	parameterType="map">
 		
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
   		WHERE
   		<if test="likePostIdList.size != 0">
	   		`id` IN
		   		<foreach collection="likePostIdList" item="item" index="index" open="(" close=")" separator=",">
					#{item }
				</foreach>	
			
	 		ORDER BY `id` DESC	
			LIMIT #{pageStart}, #{perPageNum}
		</if>
		<if test="likePostIdList.size == 0">
			`sBox`= 1
		</if>
 	</select>
	
	
	<select id="selectCountLikeByUserIdPostId" parameterType="map" resultType="int">
 	
 		SELECT
 			count(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 			AND `userId` = #{userId}
 	</select>
 	
 	<insert id="insertLike" parameterType="map">
	 	INSERT INTO `like`
	 	(
	 		`userId`
	 		, `postId`
	 		, `createdAt`
	 		
	 	) VALUES(
	 		#{userId }
	 		, #{postId }
	 		, now()
	 	)
 		
 	</insert>
 	
 	<delete id="deleteLike">
 	
 		DELETE
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 			AND `userId` = #{userId}
 	
 	</delete>
 	
 	
 	<select id="selectLikePost" resultType="int"
 	parameterType="int">
 	
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
   		WHERE `userId` = #{userId}	
		
 	</select>
 	
 	<select id="selectPostList" resultType="com.hamsh5312.solution.post.model.Post">
 		
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 	
 	</select>
 	
 	<select id="selectLikePostIdByUserId" resultType="Integer"
 	parameterType="int">
 	
 		SELECT
 			`postId`
 		FROM
 			`like`
   		WHERE `userId` = #{userId}	
 	
 	</select>
 	
 	<!-- 찜관련 끝 -->
 	<select id="selectNumber" resultType="int"
 	parameterType="String">
 		SELECT
 			COUNT(*)
 		FROM
 			`post`
 		<if test='!category.equals("all")'>
   			WHERE `sBox` = #{category}	
		</if>		
 	</select>
 		
 	<select id="selectSearchInput" resultType="int"
 	parameterType="String">
 		
 		SELECT
 			COUNT(*)
 		FROM
 			`post`
   		WHERE `subject` LIKE CONCAT('%',#{searchInput},'%')	
   		OR `userName` LIKE CONCAT('%',#{searchInput},'%')	
   			
 	</select>
 		
 	<select id="selectMyNumber" resultType="int"
 	parameterType="int">
 	
 		SELECT
 			COUNT(*)
 		FROM
 			`post`
   		WHERE `userId` = #{userId}
   			
 	</select>	
 		
 	<select id="selectPost" resultType="com.hamsh5312.solution.post.model.Post"
 	parameterType="int">
 	
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`id` = #{id}
 		
 	</select>
 
 
 	<select id="selectDeletePost" resultType="com.hamsh5312.solution.post.model.Post"
 	parameterType="map">
 	
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`id` = #{id}
 			AND `userId` = #{userId}
 	
 	</select>
 	
 	<delete id="deletePost" parameterType="map">
 	
 		DELETE
 		FROM
 			`post`
 		WHERE
 			`id` = #{id }
 			AND `userId` = #{userId }
 			
 	</delete>
 	
 	
 	<update id="updatePost" parameterType="map">
 		
 		UPDATE
 			`post`
 		SET
 			`subject` = #{subject }
 			, `content` = #{content }
 		WHERE 
 			`id` = #{id}
 			AND `userId` = #{userId }
 	
 	</update>
 	
 	
 	<select id="selectWorry" resultType="com.hamsh5312.solution.post.model.Post"
 	parameterType="int">
 	
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `subject`
 			, `content`
 			, `imagePath`
 			, `sBox`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`id` = #{id}
 	
 	</select>
 	
 	<!-- 찜삭제 -->
 	
 	<delete id="deleteLikeByPostId" parameterType="int">
 	
 		DELETE
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId }
 		
 	</delete>
 	
 </mapper>