<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hamsh5312.solution.post.recommend.dao.RecommendDAO">
 
 	<insert id="insertRecommend" parameterType="map">
	 	INSERT INTO `recommend`
	 	(	
	 		`commentCreateUserName`
	 		, `commentId`
	 		, `userId`
	 		, `createdAt`
	 		
	 	) VALUES(
	 		#{commentCreateUserName}
	 		, #{commentId}
	 		, #{userId }
	 		, now()
	 	)
 		
 	</insert>
 
 	<delete id="deleteRecommend">
 	
 		DELETE
 		FROM
 			`recommend`
 		WHERE
 			`commentCreateUserName` = #{commentCreateUserName}
 			AND `commentId` = #{commentId}
 			AND `userId` = #{userId}
 		
 	</delete>
 	
 	<select id="selectCountRecommendByCommentIdUserId" parameterType="map" resultType="int">
 	
 		SELECT
 			count(*)
 		FROM
 			`recommend`
 		WHERE
 			`commentId` = #{commentId}
 			AND `userId` = #{userId}
 	</select>
 	
 	
 	<select id="selectCountRecommendByCommentId" parameterType="int" resultType="int">
 	
 		SELECT
 			count(*)
 		FROM
 			`recommend`
 		WHERE
 			`commentId` = #{commentId}
 			
 	</select>
 	
 	
 	<delete id="deleteRecommendByPostId" parameterType="int">
		DELETE
		FROM
			`recommend`
		WHERE
			`postId` = #{postId}
	
	</delete>
 	
 	<select id="selectRecommendRankingList" resultType="com.hamsh5312.solution.post.recommend.model.Recommend">
 	
 		SELECT
 			`id`
 			, `commentCreateUserName`
 			, count(commentId)
 			, `userId`
 			, `createdAt`
 		FROM
 			`recommend`
 		GROUP BY `commentCreateUserName`
 		ORDER BY count(commentId) DESC
 		LIMIT 5
 	</select>
 	
 	
 	<select id="selectTop3People" resultType="String">
 		SELECT
 			`commentCreateUserName`
 		FROM
 			`recommend`
 		GROUP BY `commentCreateUserName`
 		ORDER BY count(commentId) DESC
 		LIMIT 3
 	</select>
 	
 	
 	<select id="selectRecommendCount" resultType="int">
 		SELECT
 			 count(commentId)
 		FROM
 			`recommend`
 		GROUP BY `commentCreateUserName`
 		ORDER BY count(commentId) DESC
 		LIMIT 5
 	</select>
 
 </mapper>