<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.hamsh5312.solution.user.dao.UserDAO">


	<insert id="insertUser" parameterType="map">
 		
 		INSERT INTO 
 			`user`
 		(
 			`loginId`
 			, `password`
 			, `name`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 		
 			#{loginId}
 			, #{password}
 			, #{name}
 			, #{email}
 			, #{introduce}
 			, now()
 			, now()
 		)
 		
 	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="selectCountById" parameterType="string" resultType="int">
		
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId};
			
	</select>
 	
 	<!-- 닉네임 중복확인 -->
 	<select id="selectCountByName" parameterType="string" resultType="int">
 		
 		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`name` = #{name};
 	
 	</select>
 	
 	
 	<select id="selectUserByLoginIdPassword" resultType="com.hamsh5312.solution.user.model.User"
 	parameterType="map">
 	
 		SELECT
			`id`
			, `loginId`
 			, `password`
 			, `name`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
 	
 	</select>
 	
 	<select id="selectUser" resultType="com.hamsh5312.solution.user.model.User">
 	
 		SELECT
			`id`
			, `loginId`
 			, `password`
 			, `name`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
		FROM
			`user`
 		
 		
 	</select>
	
	
	
</mapper>