
#wrap{
	width:1200px;
	/*
		height:800px;
	*/
	margin:auto;
	
}

header{
	height:80px;
	margin:auto;
}

.nav > .nav-item > .nav-link {
    background-color:purple; 
    color:white; 
    font-size:17px;
    font-weight: bold;
}
.nav > .nav-item > a:hover {
    background-color:#F05650;
}

#horizontal-underline{
    position: absolute;
    left:0;
    height: 7px;
    width: 0;
    border-radius: 3px;
    transition: 0.5s;
    background-color: #35E884;
    top:0;

}

.button-myBox{
	background-color:#A0C6E3;
	font-size: 12px;
	font-weight:bold;
	width:95px;
	border-radius: 25px;
	height:30px;
	text-align:center;	
}


.button-likeBox{
	background-color:#FFC0CB;
	font-size: 12px;
	font-weight:bold;
	width:95px;
	border-radius: 25px;
	height:30px;
	text-align:center;	
}


.header-left{
	width:300px;
	height:80px;
}
.header-center{
	width:600px;
	height:80px;
}
.header-right{
	width:300px;
	height:80px;
}


.login-img{
	width:400px;
	height:100px;
}

.login-box{
	width:400px;
	
	margin:auto;
}

.join-box{
	width:400px;
	height:500px;
	margin:auto;
}

footer{
	height:80px;
	margin:auto;
}