
#wrap{
	width:1000px;
	height:800px;
	margin:auto;
	
}

header{
	height:80px;
	margin:auto;
}

.header-left{
	width:200px;
	height:80px;
}
.header-center{
	width:600px;
	height:80px;
}
.header-right{
	width:200px;
	height:80px;
}


.login-img{
	width:400px;
	height:100px;
}

.login-box{
	width:400px;
	
	margin:auto;
}

.join-box{
	width:400px;
	height:500px;
	margin:auto;
}



footer{
	height:80px;
	margin:auto;
}